.home {
  position: absolute;
  background-image: url('./../images/Optimized-san_fran_2-min.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

.home-content {
  position: relative;
  z-index: 3;
  top: 90px;
  right: 35px;
  display: flex;
  justify-content: flex-end;
}

.stacked-text {
  text-align: right;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
  color: white;
}

.name {
  text-shadow: 1px 1px 1px black;
  color: #B5C9D4;
}

.profile {
  width: 200px;
  height: 200px;
  z-index: 2;
  border-radius: 100px;
  -webkit-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
}

.home p {
  color: white;
  font-size: 12px;
  position: absolute;
  z-index: 3;
  right: 1%;
  bottom: -1%;
  text-align: right;
}

.home p:visited {
  color: white;
}

.home a {
  color: white;
}

.home a:visited {
  color: white;
}

.right-arrow {
  display: none;
}

@media only screen and (max-width: 845px)  {
  .profile {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }

  .home-content h1 {
    font-size: 26px;
  }

  .home-content h2 {
    font-size: 18px;
  }

}

@media only screen and (max-width: 682px)  {
  .home-content {
    right: 0;
    top: 20px;
    justify-content: center;
  }

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  .stacked-text {
    position: absolute;
    text-align: center;
    top: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
    max-width: 70%;
  }

  br {
    display: none;
  }

  .home p {
    font-size: 8px;
  }
}

@media only screen and (max-height: 463px)  {
  .home p {
    display: none;
  }
}