.home {
  position: absolute;
  background-image: url('./../images/san_fran_2.JPG');
}

.splash {
  position: relative;
  z-index: 1;
  width: 100%;
  top: -375px;
}

.home-content {
  position: relative;
  z-index: 3;
  top: 90px;
  right: 2%;  
  display: flex;
  justify-content: flex-end;
}

.stacked-text {
  text-align: right;
  margin-right: 10px;
}

.name {
  text-shadow: 3px 3px 3px #B5C9D4;
}

.profile {
  width: 200px;
  z-index: 2;
  border-radius: 100px;
  -webkit-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
}

.home p {
  color: white;
  font-size: 12px;
  position: absolute;
  z-index: 3;
  right: -1%;
  margin-top: 42%;
}

.home a:visited {
  color: white;
}