.resume {
  position: absolute;
  top: 0px;
  bottom: -17px;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  background: #f4f4f4;
}

.resume {
  width: 100%;
}